<script>
   const errorMessage = "<%= typeof error != 'undefined' ? error : '' %>";
   if (errorMessage) {
       document.getElementById("errorMessage").innerText = errorMessage;
 }
</script>
<script src="css/login.js"></script>
</body>
</html>