<%- include('partials/header') %>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Forgot password</header>
                   <div class="form-link">
                  <b><div id="errorMessage" style="color: red;"></div></b>
                  </div>
                    <form action="/forgot-password" method="POST">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" name="email" class="input" required>
                        </div>

                        <div class="media-options">
                            <a><button type="submit" class="button-30" role="button">Send link</button></a>
                        </div>
                    </form>
                </div>

                <div class="line"></div>
              <div class="form-link">
                        <span>Return <a href="/" class="link signup-link" style="color: purple;"><b>Home</b></a></span>
                    </div>

            </div>
        </section>
<%- include('partials/footer') %>